html {
    font-family: 'Righteous', cursive;
}

body {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.page {
    overflow-y: auto;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(35deg, #2d2443, #000000);
}
.header {
    width: 80%;
    display: flex;
    align-content: center;
    position: relative;
    padding: 0%;
    margin: 0% 0% -100% 0%;
}
.header h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 0px 0px 5px rgb(0, 208, 255);
    text-align: center;
    padding: 0%;
}

.services {
    width: 100%;
    display: grid;
    position: relative;
    padding: 0% 5%;
}
.services h3 {
    color: white;
    margin: 0% 0% -100% 0%;
}
.services ul {
    width: 90%;
}
.services ul > * {
    color: white;
    text-align: left;
}